


html {
  /*-- Main font sizes --*/
  --title-size:      0px;
  --body-size:       1.05rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    12px;
  /*-- Main font colors --*/
  --title-color:     #FFFFFf;
  --header-color:    #000102;
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:   sans-serif;
  --mono-font:       monospace;
  --body-font:       'Avnir Light', sans-serif;
  --navbar-font:     sans-serif;  /* websites + blogs only */
}



.d-title {
}

.d-title {
    padding: 30px;
}

element.style {
    width: unset;
}
/-- ARTICLE METADATA --/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/-- ARTICLE TABLE OF CONTENTS --/
.d-contents {
  --heading-size:    13px;
  --contents-size:   13px;
}

/-- ARTICLE APPENDIX --/
d-appendix {
  --heading-size:    12px;
  --heading-color:   rgba(0, 0, 0, 0.1);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, );
}

/-- WEBSITE HEADER + FOOTER --/
/* These properties only apply to Distill sites and blogs  */
.distill-site-header a, .nav-dropdown .nav-dropbtn {
    font-family: var(--navbar-font), var(--heading-default);
}

.distill-site-nav li.dropdown:hover .dropdown-content {
    display: block;
}


.distill-site-header a, .distill-site-header .title {
    display: auto;
    text-align: center;
    padding: 23px 40px 14px 10px;
}


.distill-site-header {
    height: 70px;
} 

.distill-site-header .title {
    display: inline-block;
}

.distill-site-header .logo img {
    display: inline-block;
}

.distill-site-header .logo img {
    display: inline-block;
    max-height: 70px;
    width: auto;
    margin-bottom: -4px;
}
.distill-site-header{
  --title-size:       0px;
  --text-color:       #000;
  --text-size:        18px;
  --hover-color:      #909093;
  --bkgd-color:       #ffffff;
/* background-image for fade-to-white color of navbar */
  background-image: linear-gradient(to top, rgba(178,198,204), rgba(118,163,178));
  background-color: transparent
}

.distill-site-nav {
    color: rgba(255, 255, 255, 0.8);
    background-color: #0F2E3D;
    font-size: 15px;
    font-weight:
}




.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #0F2E3D;
}
